<!-- --------------- INTRO SECTION --------------- -->
{% macro intro(intro) %}
{% set animationID = "animation-intro" %}
<div id="ref-{{animationID}}" class="intro-hero">
    <section id="intro-section" class="padding-x">
        <div class="intro-card">
            <h1>{{ intro.title }}</h1>
            <p> {{ intro.subtitle }}</p>
            <!-- <div class="intro-about padding-x">{{ intro.about }}</div> -->

        </div>
        <div class="intro-image">
            <div id="{{animationID}}" class="split-animation-file {{ 'right' if isRightBound else 'left' }} "></div>
                
        </div>
        <a href="{{intro.button_link}}">
                        <button class="homepage-button button-intro">{{intro.button_text}}</button>
                    </a>
    </section>
    <div class="intro-about padding-x">{{ intro.about }}</div>
</div>
<script>
    (function() {
        var heroAnimation = lottie.loadAnimation({
            container: document.getElementById("{{animationID}}"),
            renderer: 'svg',
            loop: false,
            autoplay: false,
            path: "{{intro.hero_animation}}",
            initialSegment: [24, 79]
        });
        heroAnimation.addEventListener("DOMLoaded", function () {
            const totalFrames = heroAnimation.getDuration(true) - 24;
            console.log("totalFrames", totalFrames)
            const START = 0; 

            // heroAnimation.goToAndStop(START, true);
            // heroAnimation.renderer.svgElement.style.visibility = 'visible';

            LottieInteractivity.create({
                player: heroAnimation,
                container: "#ref-{{animationID}}",
                mode: "scroll",
                actions: [{
                    "visibility": [0, 0.5],
                    "type": "stop",
                    "frames": [START]
                },
                {
                    "visibility": [0.51, 0.8],
                    "type": "seek",
                    "frames": [START, totalFrames - 1]
                },
                {
                    "visibility": [0.81, 1],
                    "type": "stop",
                    "frames": [totalFrames - 1]
                }]
            });
        });
    })();
</script>
{% endmacro %}


<!-- --------------- USP SECTION --------------- -->
{% macro usp(usp) %}
<section id="usp" class="padding-x">
    {% for details in usp %}
    {% set order_usp = "usp-order" if loop.index is odd else "" %}
    <div class="usp-container">
        <!-- {% set style_color_of_number = "style='color: " ~ details.color ~ "; filter: brightness(140%);'" %}
        <div {{style_color_of_number}} class="usp-counter"> -->
        <div class="usp-counter">
            {% if loop.index > 9 %}   
                {{ loop.index }}
            {% else %}
                0{{ loop.index }}
            {% endif %}
        </div>
        <div class="usp-image {{order_usp}}" >
            {% if details.animation is string %}
                {% set animationID = "animation-" ~ loop.index %}
                <div id="{{animationID}}" class="split-animation-file {{ 'right' if isRightBound else 'left' }} "></div>
                <script>
                    (function() {
                        var style = document.createElement('style')
                        style.type = 'text/css'
                        style.innerHTML = "#{{animationID}} .animation-fill-primary-color path { fill: {{details.color}};} #{{animationID}} .animation-stroke-primary-color path { stroke: {{details.color}};} #{{animationID}} .animation-fill-primary-color-dark path { fill: {{details.color}};}"
                        document.head.appendChild(style)

                        var heroAnimation = lottie.loadAnimation({
                            container: document.getElementById("{{animationID}}"),
                            renderer: 'svg',
                            loop: false,
                            autoplay: false,
                            path: "{{details.animation}}"
                        });

                        heroAnimation.addEventListener("DOMLoaded", function () {
                            const totalFrames = heroAnimation.getDuration(true);
                            console.log("Total frames:", totalFrames); // Debug check
                            LottieInteractivity.create({
                                player: heroAnimation,
                                container: "#ref-{{animationID}}",
                                mode: "scroll",
                                actions: [
                                    {
                                        "visibility": [0.30, 0.7],
                                        "type": "play"
                                    }
                                ]
                                // actions: [{
                                //     "visibility": [0, 0.2],
                                //     "type": "stop",
                                //     "frames": [0]
                                // },
                                // {
                                //     "visibility": [0.21, 0.66],
                                //     "type": "seek",
                                //     "frames": [1, totalFrames - 1]
                                // },
                                // {
                                //     "visibility": [0.661, 1],
                                //     "type": "stop",
                                //     "frames": [totalFrames - 1]
                                // }]
                            });
                        });
                    })();
                </script>               
            {% endif %}
            {% if details.animation is defined %}
                {% if details.animation is not string %}
                    {{ animated_bullet_points(details.animation.title, details.animation.points, "unique_id" ) }}
                {% endif %}
            {% endif %}
        </div>
        <div class="usp-card ">
            {% set style = "style='background-color: " ~ details.color ~ ";'" %}
            <div {{style}} class="usp-card-content">
                <h2>{{ details.title }}</h2>
                <p>{{ details.description }}</p>
                <div class="usp-link-container">
                    {% if details.link is defined %}
                        <a href="{{details.link}}" class="usp-link">
                            <span>Mehr erfahren</span> 
                            <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#fff"><path d="M320-440h320v-80H320v80Zm0 120h320v-80H320v80Zm0 120h200v-80H320v80ZM240-80q-33 0-56.5-23.5T160-160v-640q0-33 23.5-56.5T240-880h320l240 240v480q0 33-23.5 56.5T720-80H240Zm280-520v-200H240v640h480v-440H520ZM240-800v200-200 640-640Z"/></svg>
                        </a>
                    {% endif %}
                </div>
            </div>

            {% if details.extra is defined %}
                {% if details.extra.title is defined %}
                <h3 class="padding-top">{{ details.extra.title }}</h3>
                {% endif %}
                {% if details.extra.text is defined %}
                <p class="">{{ details.extra.text }}</p>
                {% endif %}
                {% if details.extra.table is defined %}
                <table>
                    <tbody class="usp-table">
                        {% for format in details.extra.table %}
                        <tr>
                            <td>{{format}}</th>
                        </tr>
                        {% endfor%}
                    </tbody>
                </table>
                {% endif %}
            {% endif %}
        </div>
    </div>
    {% endfor %}
</section>
{% endmacro %}


<!-- --------------- ACCORDION SECTION --------------- -->
{% macro accordion(content, gallery_id_prefix) %}
{% set font_style = "style='color: " ~ content.color ~ ";'" %}
{% set fill_style = "style='fill: " ~ content.color ~ ";'" %}
{% set background_style = "style='background-color: " ~ content.color ~ ";'" %}
{% set logo_style = "style='color: " ~ content.color ~ ";'" %}
{% set additionalStyle = "." ~ gallery_id_prefix ~ " .splide__pagination__page, ." ~ gallery_id_prefix ~ " .splide__pagination .is-active, ." ~ gallery_id_prefix ~ " .splide__arrow { background-color: " ~ content.color ~ "; }" %}
<script>
    function addStyle(cssContent) {
        let styleTag = document.createElement("style");
        styleTag.type = "text/css";
        styleTag.innerHTML = cssContent; 
        document.head.appendChild(styleTag);
    }
    addStyle("{{additionalStyle}}");
</script>
<section class="{{gallery_id_prefix}} accordion">
    <div>
        <div class="accordion-intro padding-x-extra">
            <h2 {{font_style}} class="accordion-title">{{content.title}}</h2>
            {% if content.subtitle is defined %}
            <div {{background_style}} class="accordion-subtitle" >
                {{ content.subtitle }}
            </div>
            {% endif %}
            <p class="accordion-introtext">{{content.description}}</p>
        </div>
    </div>
    <div class="accordion-list">
        {% for accordion in content.accordion %}
            <div class="accordion-item">
                <button class="accordion-header padding-x-extra" >
                    <span>
                        <svg class="accordion-x" xmlns="http://www.w3.org/2000/svg" height="60px" viewBox="0 -960 960 960" width="60px" fill="{{content.color}}"><path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"/></svg>
                        {{accordion.title}}
                    </span>
                    {% if accordion.logo is defined %}
                    <div>
                        <img class="accordion-logo" src="{{accordion.logo}}" alt="Logo {{accordion.title}}">
                    </div>
                    {% endif %}
                    <!-- {% if accordion.logo is not defined %}
                        {% if accordion.demo_url is defined %}
                            <a class="accordion-demo-button" {{background_style}} href="{{accordion.demo_url}}" target="_blank">
                                <span>Demo</span><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000"><path d="M480-840q74 0 139.5 28.5T734-734q49 49 77.5 114.5T840-480q0 74-28.5 139.5T734-226q-49 49-114.5 77.5T480-120q-41 0-79-9t-76-26l61-61q23 8 46.5 12t47.5 4q116 0 198-82t82-198q0-116-82-198t-198-82q-116 0-198 82t-82 198q0 24 4 47.5t12 46.5l-60 60q-18-36-27-74.5t-9-79.5q0-74 28.5-139.5T226-734q49-49 114.5-77.5T480-840Zm40 520v-144L176-120l-56-56 344-344H320v-80h280v280h-80Z"/></svg>
                            </a>
                        {% endif %}
                    {% endif %} -->
                </button>
                <div class="accordion-content padding-x-extra">
                    {% if accordion.images is defined %}
                    <div class="gallery-container">
                        {{ gallery(accordion.images, gallery_id_prefix ~ loop.index) }}
                    </div>
                    {% endif %}
                    <div class="">
                        {{accordion.text}}
                    </div>
                    <!-- {% if accordion.website is defined %} -->
                        {% for website in accordion.website %}
                            <p><a class="accordion-website-button" {{background_style}} href="{{website}}" target="_blank">
                                {{ website }}
                            </a></p>
                        {% endfor %}


                    <!-- {% endif %} -->
                </div>
            </div>
            <hr>
            {% endfor %}
        </div>
</section>
{% endmacro %}


<!-- --------------- CONTACT SECTION --------------- -->
{% macro contact(content) %}
<section id="contact" class="padding-x-extra">
    <h3>{{content.title}}</h3>
    <a href="{{content.button_link}}">
        <button class="homepage-button button-contact">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M22 6c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2zm-2 0-8 5-8-5zm0 12H4V8l8 5 8-5z"/></svg>
            {{content.button_text}}
        </button>
    </a>
</section>
{% endmacro %}


<!-- --------------- GALLERY SECTION --------------- -->
{% macro gallery(images, gallery_id_prefix) %}
<div class="{{gallery_id_prefix}} splide" role="group" aria-label="Splide Basic HTML Example">
    <div class="splide__track">
        <ul class="splide__list">
            {% for image in images %}
            <li class="splide__slide">
                <figure>
                    <a href="{{image.src}}" class="glightbox" data-gallery="{{gallery_id_prefix}}-glightbox-gallery" data-title="{{image.caption}}">
                        <img src="{{image.src}}" alt="{{image.caption}}">
                    </a>
                    {% if image.caption is defined %}
                    <figcaption class="image-caption" id="{{gallery_id_prefix}}-caption">{{image.caption}}</figcaption>
                    {% endif %}
                </figure>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
<script>
    document.addEventListener( 'DOMContentLoaded', function() {
        var splide = new Splide( "." + "{{gallery_id_prefix}}" );
        splide.mount();
        var lightbox = GLightbox({
            selector: '.glightbox', // Targets all links with the class `glightbox`
        });
    } );
</script>
{% endmacro %}



{% macro animated_bullet_points(title, points, unique_id) %}
<div class="animation-bulletpoints">
    <h3>{{ title }}</h3>
    <table class="animated-bullet-table" data-id="{{ unique_id }}">
        <tbody>
            {% for point in points %}
                <tr class="animated-row">
                    <td>
                        <div class="progress-container">
                            <span class="progress-text">{{ point }}</span>
                            <div class="progress-bar"></div>
                        </div>
                    </td>
                    <td class="circle-column"><div class="circle"></div></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const table = document.querySelector(`.animated-bullet-table[data-id="{{ unique_id }}"]`);
        const rows = Array.from(table.querySelectorAll(".animated-row"));
        let observer;

        function startProgressAnimation(row, index) {
            const progressBar = row.querySelector(".progress-bar");
            const progressText = row.querySelector(".progress-text");
            const circle = row.querySelector(".circle");
            let progress = 0;

            function updateProgress() {
                if (progress < 100) {
                    progress += 2; 
                    progressBar.style.width = `${progress}%`;
                    requestAnimationFrame(updateProgress);
                } else {
                    circle.classList.add("usp-active");
                    // progressBar.classList.add("usp-active");
                    // progressText.classList.add("usp-active");

                    // If all rows reached 100%, detach observer
                    if (rows.every(r => r.dataset.completed === "true")) {
                        observer.disconnect();
                    }
                }
            }

            // Mark row as completed to avoid duplicate triggers
            row.dataset.completed = "true";

            // Add a delay for each row based on its index
            setTimeout(() => {
                requestAnimationFrame(updateProgress);
            }, index * 500); // Delay increases with index (e.g., 0ms, 500ms, 1000ms, etc.)
        }

        function observeRows(entries, observer) {
            entries.forEach((entry, index) => {
                if (entry.isIntersecting && !entry.target.dataset.completed) {
                    startProgressAnimation(entry.target, index);
                }
            });
        }

        observer = new IntersectionObserver(observeRows, { threshold: 0.5 });
        rows.forEach(row => observer.observe(row));
    });
</script>
{% endmacro %}
