
.ingrid-header {
    align-items: center;
    display: flex;
    gap: 14px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1552px;
    padding: 16px 32px 24px;
}
.md-header__button.md-logo {
    margin: 0;
    padding: 0;
}

.md-search__input {
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid;
}

.md-search__input::placeholder {
    font-weight: bold;
    color: #CCCCCC !important;
}

.md-header__title {
    margin-left: 0 !important;
    line-height: inherit;
    align-content: center;
}
.md-header__button.md-logo img, .md-header__button.md-logo svg {
    height: 89px;
    max-width: none;
}

.md-tabs {
    color: black;
    background-color: rgba(255, 255, 255, 0);
}

.md-tabs__item {
    height: auto;
    padding-left: .4rem;
    padding-right: .4rem;
}

.md-tabs__item:hover {
    color: var(--ingrid-accent);
}

.md-tabs__item--active {
    font-weight: 700;
    color: var(--headline-black);
    text-decoration: underline;
}

.md-tabs__item--active:hover {
    font-weight: 700;
    color: var(--headline-black);
}

.md-tabs__link {
    margin-top: 0;
    font-size: 20px;
    font-weight: 900;
    opacity: 1;
}

.header-gap-filler {
    flex-grow: 1;
}

.md-header__source {
    display: none;
    width: 40px;
}

#ingrid-version-container {
    min-height: 24px;
} 

.md-version {
    display: contents;
}
.md-version__current {
    margin-left: 0 !important;
    margin-right: 0 !important;
    font-weight: 900;
    font-size: 18px;
    font-size: 24px;
}

.md-version__list {
    top: 2rem;
}


.version-in-markdown .md-version__current { float: left; }
.version-in-markdown .md-version__list { position: unset; opacity: 1; width: fit-content; min-width: 200px; max-height: 10rem; box-shadow: inset var(--md-shadow-z2); }
.version-in-markdown .md-version__current { display: none; }
.version-in-markdown ul { list-style-type: none; }




/* @include break-from-device(tablet)  */
@media screen and (min-width: 45em) {
    .md-header__source {
        display: block;
    }
}

/* @include break-to-device(tablet)  */
@media screen and (max-width: 76.234375em) {
    .theme-toggle {
        display: none;
    }
    .md-nav__source {
        height: 50px;
        padding: 2px;
    }
    .md-header__title {
        display: contents;
    }
    .ingrid-header {
        padding: 10px ;
    }
    .md-header__title {
        font-size: 32px;
    }
    .md-header__button.md-icon {
        margin: 0;
        padding: 0;
    }
    .md-header__button.md-icon svg {
        width: 60px;
        height: 60px;
    }

}

/* @include break-from-device(mobile)  */
@media screen and (min-width: 13.75em) {

    .md-search__input+.md-search__icon {
        color: #000000;
    }
    .md-search__inner {
        width: auto;
    }
}

/* @include break-from-device(screen)  */
@media screen and (min-width: 76.25em) {
    .md-header__title {
        font-size: 48px;
    }
    .md-version__current {
        float: right;
    }
    .md-version__list {
        top: 4rem !important;
        margin-left: 68px;
    }
    .version-draft-hint {
        font-size: 0.4em;
    }
}



/* $break-devices: (
  mobile: (
    portrait:  px2em(220px)  px2em(479.75px),
    landscape: px2em(480px)  px2em(719.75px)
  ),
  tablet: (
    portrait:  px2em(720px)  px2em(959.75px),
    landscape: px2em(960px)  px2em(1219.75px)
  ),
  screen: (
    small:     px2em(1220px) px2em(1599.75px),
    medium:    px2em(1600px) px2em(1999.75px),
    large:     px2em(2000px)
  )
); */