{% extends "main.html" %}
<!-- Render hero under tabs -->
{% block tabs %}
{{ super() }}
<!-- Load content of homepage from meta information of file 'docs/index.md' -->

    <!-- Render content in dedicated file -->
    {% include "homepage/index.html" %} 
    <!-- Work around: Hide redundant main tag from 'src/templates/base.html -->
    <!-- <style> .md-main { display: none; } </style> -->
{% endblock %}

<!-- Remove markdown of file /docs/index.md -->
{% block content %}{% endblock %}

<!-- Remove Footer and replace with  -->
<!-- {% block footer %}
{% include "partials/footer.html" %}
{% endblock %} -->